<header class="fullscreen-element">
        <div class="background-image-holder parallax-background overlay">
          <%= image_tag('bg-7.jpg', class: 'background-image', alt: 'Background Image') %>
        </div>

        <div class="container align-vertical hero">
          <div class="row">
            <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-left">
              <h1>InstaScript</h1>
              <p>The Largest On-Demand Prescription Delivery Provider.</p>
              <div class="button-group">
                <%= link_to 'Shop Now', shop_path, class: "btn btn-default" %>
              </div>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </header>

      <div class="action-bar">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <%= link_to root_path do %>
                <span data-icon="v" class="icon"></span> <span class="text">Express Delivery</span>
              <% end %>
            </div>
            <div class="col-sm-4">
              <%= link_to root_path do %>
                <span data-icon="/" class="icon"></span> <span class="text">Flexible</span>
              <% end %>
            </div>
            <div class="col-sm-4">
              <%= link_to root_path do %>
                <span data-icon="7" class="icon"></span> <span class="text">Disruptive</span>
              <% end %>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div>

      <section>
        <div class="background-image-holder overlay">
          <%= image_tag("bg-2.jpg", class: "background-image", alt: "Background Image") %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 text-left">
              <h2 class="page-title">Express Delivery</h2>
              <p class="description">InstaScript is an on-demand delivery network. Once your order is picked up, you’ll receive a text message with a link to track your delivery in real time on the map. So you always know exactly when it will arrive.</p>
              <%= link_to 'Shop Now', class: 'btn btn-primary' %>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>
      
      <br>

      <h2 class="page-title text-center">Featured Products</h2>

      <%= render 'shared/list'%>

      <section>
        <div class="background-image-holder on-page overlay">
          <%= image_tag('bg-3.jpg', class: 'background-image', alt: 'Background Image') %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-sm-offset-7 text-right">
              <h2 class="page-title">Prescriptions 24/7<span class="accent-color">.</span></h2>
              <p class="description">By teaming up with the largest amount of chemists throughout Australia, we have ensured that customers are able to receive their prescriptions in a timely manner from their provider of choice.</p>
              <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>